.account-container {
  border: 2px solid black;
  width: 180px;
  margin: 40px auto; /* 중앙 정렬 + 위 여백 */
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(0, 119, 204);
  box-sizing: border-box;
}

.account-container h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left; /* 왼쪽 정렬 */
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-group button {
  flex: 1;
  max-width: 120px; /* 버튼 최대 너비 제한 */
  background-color: #4f59e7;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 15px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-group button:hover {
  background-color: #2980b9;
}

/* input 크기 조절 */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 159px; /* 너비 조절 */
  height: 31px; /* 높이 조절 */
  padding: 10px; /* 안쪽 여백 */
  font-size: 10px; /* 글씨 크기 */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* 패딩 포함해서 크기 계산 */
  margin-bottom: 10px; /* 아래 간격 조절 */
}
/* 로그인 버튼 */
.login-btn {
  width: 100%;
  max-width: 120px;
  background-color: #404ad1;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 15px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 7px auto 0; /* 가운데 정렬 + 위 간격 */
}
/* 로그아웃 버튼 */
.checkIdBtn {
  width: 100%;
  max-width: 120px;
  background-color: #404ad1;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 15px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0px auto 0; /* 가운데 정렬 + 위 간격 */
}

/* 기본: 비활성화 상태 */
button:disabled {
  background-color: #ccc; /* 회색 */
  color: #666;
  cursor: not-allowed;
  border: none;
}

/* 활성화 상태 */
button:enabled {
  background-color: #404ad1; /* 파란색 등 원하는 색상 */
  color: white;
  cursor: pointer;
}

.center-btn-wrapper {
  text-align: center; /* 버튼을 수평 가운데 정렬 */
  margin-bottom: 20px; /* 아래 버튼들과 간격 */
}

.register-btn {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
}

.register-btn:hover {
  background-color: #2980b9;
}

.register-main {
  border: 1px solid #0077cc;
  background-color: rgba(0, 0, 139, 0.2);
  height: 782px;
  
  width: 1000px;
}
